@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.card{
    border-radius: 0;
}
.header-part h1{
    font-family: 'Berkshire Swash', cursive;
}

strong{
    position: relative;
  }
  strong::after{
    content: '';
    position: absolute;
    bottom: -1.1rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: 10;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 556px) {
    .header-part h1{
        font-size: 20px;
    }
    .header-part p{
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 992px) {
    .banner-images,.football{
        display: none;
    }
    .header-part{
        width: 100%;
    }
    .banner{
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/player.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}